#/.gitignore
/planning.txt

# 根目录
/backup/*
/test-data/*

/bin/*
#!/bin/main

/build/*

# docs 目录
/docs_my/*

# srcs 目录
*.pro.user
*.pro.user.*
/srcs/build-*/
#/srcs/mainbasic/*.pro.user
#/srcs/screener-toolkits/*.pro.user

/srcs/mainbasic/Makefile

/srcs/mainbasic/*.o
/srcs/mainbasic/*.autosave

srcs/mainbasic/moc_*.cpp
/srcs/mainbasic/moc_*.o

/srcs/mainbasic/qrc_*.cpp

/srcs/mainbasic/ui_*.h

/srcs/backup/*

/srcs/mainbasic/build_ver_desktop.txt

/unit-test/bin
/unit-test/docs*/*
/unit-test/build

/docs/_bug_records.txt

/home/henry/work/screener/unit-test/test-algo/*.pro.user

/temp

