
/*  */
* {
    background-color: transparent;
    color:rgb(144,143,148);
}

/*  */
/*QPushButton {
    background-color: rgb(28, 28, 30);
    color:rgb(144,143,148);
}

QComboBox::item {
    background-color: rgb(28, 28, 30);
    color:rgb(144,143,148);
}*/

